body{
    font-family: "Cabin", sans-serif;
    background-color: black;
    color: white;
}

iframe{
    height:400px;
}

.fill {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain; 
  background-color: black;
}

.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 800px; 
  height: 450px;    
  margin: 0 auto;
  overflow: hidden;
  background-color: black; 
}

.slideshow-container .slide {
  display: none; 
  width: 100%;
  height: 100%;
  text-align: center;
}

.slideshow-container .slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

#slideshow1 { height: 450px; }
#slideshow2 { height: 300px; }

.background-transparent {
  background-color: rgba(255, 255, 255, 0.8); /* white with 80% opacity */
  color: #000;
  padding: 1em 2em;
  border-radius: 10px;
  max-width: 80%;
  margin: 0 auto;
}
